VITE_YOUTUBE_CHANNEL_ID=UCxRbG-qhuGeF83gDV6BlXaA
VITE_YOUTUBE_API_KEY=AIzaSyAFW5L-BKJfOiZq0TAXUl0e2OAD5ihudyE
VITE_FLICKR_USER_ID=196213097@N03
VITE_FLICKR_API_KEY=89aed4f901d5045aca6ad45e086b5bab
VITE_API_URL=https://backendmissaohuambo.onrender.com
